<!doctype html>
<html>

<head>
  <meta charset='UTF-8'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' type='text/css' href='stylesheet.css'>
  <title>Etsy API Data</title>
</head>

<body>

  <!-- this is the only element I need in my index; it is the master container for the entire page -->
  <div id='beagle'></div>



  <!-- jquery link: use bower install jquery in the current directory -->
  <script src="bower_components/jquery/dist/jquery.js"></script>



  <!-- this came straight out of my script.js file -->
  <!-- this represents the text elements that I wrote in script.js; now in template form in my html -->
  <!-- all beestrings (e.g. <% itemTitle %>) are set in the script.js file -->
  <script type='text/template' data-template-name='beagleResults'> <!-- reference beagleResults in script.js -->
    <!-- container for each item -->
    <div class='container'>
      <!-- container for item image; image is wrapped in an anchor tag and links to item url -->
      <div>
        <a class='image_link' href='<% itemUrl %>'>
        <img class='image' src='<% itemImage %>'>
      </a>
      </div>
      <!-- container for item title; text is wrapped in an anchor tag and links to item url -->
      <div class='title'>
        <a class='title_link' href='<% itemUrl %>'>
          <% itemTitle %>
        </a>
      </div>
      <!-- container for shop name; text is wrapped in an anchor tag and links to shop url -->
      <div class='shop_name'>
        <a class='shop_link' href='<% itemShopUrl %>'>
          <% itemShopName %>
        </a>
      </div>
      <!-- conatiner for item price and item currency code -->
      <div class='price'>$<% itemPrice %> <% itemCurrency %></div>
    </div>
  </script>



  <!-- javascript files -->
  <script type='text/javascript' src='data.js'></script>
  <script type='text/javascript' src='script.js'></script>

</body>
