/*
Error: Illegal nesting: Nothing may be nested beneath variable declarations.
        on line 9 of script.js

4: 
5:   // references var beagle in data.js
6:   var results = beagle.results;
7: 
8:   $(document).ready(function(){ // runs the function on document ready
9:     var $list = $('#beagle'); // targets div with id beagle in the html
10: 
11:     results.forEach(function(item){ // for each item in results (references var results)
12:       var beagleItems = renderTemplate('beagleResults',{ //beagleResults is the name of the template in the html file I want to render
13:         itemUrl: item.url,
14:         itemImage: item.Images[0].url_170x135,

Backtrace:
script.js:9
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/engine.rb:729:in `parse_variable'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/engine.rb:631:in `parse_line'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/engine.rb:525:in `build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/engine.rb:544:in `block in append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/engine.rb:543:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/engine.rb:543:in `append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/engine.rb:534:in `block in build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/engine.rb:527:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/engine.rb:527:in `build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/engine.rb:544:in `block in append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/engine.rb:543:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/engine.rb:543:in `append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/engine.rb:396:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:252:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Illegal nesting: Nothing may be nested beneath variable declarations.\A         on line 9 of script.js\A \A 4: \A 5:   // references var beagle in data.js\A 6:   var results = beagle.results;\A 7: \A 8:   $(document).ready(function(){ // runs the function on document ready\A 9:     var $list = $('#beagle'); // targets div with id beagle in the html\A 10: \A 11:     results.forEach(function(item){ // for each item in results (references var results)\A 12:       var beagleItems = renderTemplate('beagleResults',{ //beagleResults is the name of the template in the html file I want to render\A 13:         itemUrl: item.url,\A 14:         itemImage: item.Images[0].url_170x135,"; }
